@import url(layout.css);
@import url(reset.css);
@import url(styles.css);

.words-wrapper {
  font-family: 'Ubuntu Mono', Serif;
  /* display: flex; */
  height: 75px;
  overflow: hidden;
  /* border: 1px solid red; */
  border-radius: 4px;
}

.words {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
  position: relative;
}

.word {
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  /* margin: 0 0.5ch; */
  margin: 0.5ch 0;
  color: hsl(0, 0%, 10%);
  /* border: 1px solid red; */
  letter-spacing: 0px;
}

.cursor {
  top: 0.21rem;
  height: 2rem;
  width: 2px;
  background-color: orange;
  animation: cursorBlinking 1s infinite;
  position: absolute;
  border-radius: 0.5rem;
  /* transition: 0.05s; */
  /* transform-origin: top left; */
  /* border: 1px solid red; */
}

@keyframes cursorBlinking {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

nav {
  display: flex;
  justify-content: right;
}

.counter {
  display: flex;
  /* border: 1px solid red; */
  width: 4ch;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.correct {
  color: green
}

.incorrect {
  color: red;
}

.error {
  text-decoration: line-through;
}

.stats {
  display: flex;
  justify-content: left;
  margin-right: auto;
  gap: 2ch;
  /* border: 1px solid green; */
}
