.more-stats {
  display: grid;
  /* height: 50vh; */
  background-color: lightblue;
  transition: 200ms;
  grid-template-rows: 0.1fr 0fr;
}

.more-stats:hover {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  /* height: 100px; */
}

.top {
  background: crimson;
}

.bottom {
  background: navajowhite;
  border: 3rem solid rgb(0 0 0 / 10%);
}

.column {
  outline: 1.5px solid rgb(0 0 0 / 10%);
}
.correct {
  color: var(--txt-correct);
}

.incorrect {
  color: var(--txt-incorrect);
}

.skipped {
  color: var(--txt-skipped);
}

.error {
  text-decoration: line-through;
}

.stats {
  display: flex;
  justify-content: left;
  margin-right: auto;
  gap: 2ch;
}

.chart {
  max-height: 100%;
  margin: 1ch 0;
  /* background-color: var(--txtbox-color); */
}

#chart {
  display: none;
}
