@import url(layout.css);
@import url(reset.css);
@import url(stats.css);

:root {
  --bg-color: #CFD8D7;
  --txtbox-color: #fbeed9;
  --txt-primary: #000000;
  --txt-correct: #06842e;
  --txt-incorrect: #C0091E;
  --txt-stats: #453831;
  --cursor-color: #ffbb00;
}

body {
  font-family: 'Ubuntu Mono', Serif;
  background-color: var(--bg-color);
}

.display {
  margin-top: 1rem;
  height: 88px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--txtbox-color);
  padding: 1ch;
}

.words {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1ch;
  position: relative;
}

.word {
  font-size: 1.5rem;
  line-height: 1.5rem;
  display: flex;
  margin: 0.5ch 0;
  color: var(--txt-primary);
}

.cursor {
  top: 1.7rem;
  height: 2rem;
  width: 2px;
  background-color: var(--cursor-color);
  animation: cursorBlinking 1s infinite;
  position: absolute;
  border-radius: 0.5rem;
}

@keyframes cursorBlinking {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

nav {
  align-items: center;
  margin-top: 1ch;
  display: flex;
  justify-content: right;
  padding: 0 1ch;
  color: var(--txt-stats);
}

.timer {
  display: flex;
  width: 4ch;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.wpm > div:last-child,
.accuracy > div {
  display: flex;
  justify-content: right;
}

.reset {
  border: none;
  cursor: pointer;
  /* border: 1px solid red; */
  background: transparent;
  padding: 0;
}

.reset:hover {
  font-weight: bold;
}
